<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Drop-it</title>
  <link rel="stylesheet" href="css/styles.css">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type='text/javascript' src='js/starter.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=KEY%>&callback=initMap&libraries=geometry"
        async defer></script>


</head>
<body>
  <header>
    <h1>Drop-it</h1>
  </header>
  <h3><i>Drop-it</i></h3>
  <div id="map"></div>
  <br>
  <form action="/drops" method="post">

  <textarea name="drop" id="drop" cols="20" rows="10">

  </textarea>
  <p>You have  <span id="remaining">47</span> characters remaining</p>


    <br>
  <input id="dropToMap" type="submit" value="Add drop to map">

  </form>



</body>
</html>
























