<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <title>Drop-it</title>
  <link rel="stylesheet" href="css/styles.css">
  <script type='text/javascript' src='https://code.jquery.com/jquery-2.2.4.min.js'></script>
  <script type='text/javascript' src='js/starter.js'></script>
  <script src="https://maps.googleapis.com/maps/api/js?key=<%=KEY%>&callback=initMap"
        async defer></script>


</head>
<body>
  <header>
    <h1>Drop-it</h1>
  </header>
  <h3><i>Drop-it</i></h3>
  <div id="map"></div>
  <button id="button">click to show and console log location</button>
  <br>
  <form action="/drops" method="post">

  <textarea name="drop" id="drop" cols="20" rows="10">

  </textarea>


    <br>
  <input type="submit" value="Add drop to database">

  </form>



</body>
</html>

<!-- <!DOCTYPE html>
<html>
  <head>
    <title>Simple Map</title>
    <meta name="viewport" content="initial-scale=1.0">
    <meta charset="utf-8">
    <style>
      html, body {
        height: 100%;
        margin: 0;
        padding: 0;
      }
      #map {
        height: 100%;
      }
    </style>
  </head>
  <body>
    <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBNnM2fPT44bJn18wSQrQE1RxAC_j-R2NI&callback=initMap"
    async defer></script>
  </body>
</html> -->

























