 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        color: #4EB1BA;
      }

header {
  background-color: #222930;
}
h1 {
  color: #E9E9E9;
}
#map {
  margin: 0 auto;
  height: 65%;
  width: 80%;
}

.coords {
  visibility: hidden;
}
.dropText {
  display: block;
  width: 33%;
  margin: 0 auto;
}
p {
  text-align: center;
}
.border {
  height: 25%;
  width: 100%;
}
#dropButton {
  display: block;
  margin: 0 auto;
}
