 html, body {
        height: 100%;
        margin: 0;
        padding: 0;
        color: #4EB1BA;
      }

header {
  background-color: #222930;
}
h1 {
  color: #E9E9E9;
}
#map {
  margin: 0 auto;
  height: 65%;
  width: 80%;
}
#dropToMap {
    position: relative;
    top: -70px;
}
.coords {
  visibility: hidden;
}

